 <!-- Star Footer
    ============================================= -->
    <footer class="bg-dark text-light">
        
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-center">
                    <div class="col-lg-4">
                        <p>&copy; Copyright 2022. All Rights Reserved  blackgeeknerd</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer-->