<!DOCTYPE html>

{% load static %}
{% load bootstrap %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hacker News</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" media='screen'>
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" media='screen'>
        <link rel="stylesheet" href="{% static 'assets/css/bootsnav.css' %}" media='screen'>
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" media='screen'>
    </head>
    <body class='blue'>
        <div clas='container'>
            {% include 'navbar.html' %}
        </div>
        <hr>
        {% block content %}


        {% endblock %}
        <script src="" async defer></script>
    </body>
</html>